
<div class="container" style="padding-top:70px;">

<div class="row px-4 py-5" style="margin-bottom:16px;">
      <div class="col-md-6">
      <p class="lead">
  freestar
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ex dui, tincidunt ac accumsan nec, aliquet vel odio. Aliquam erat volutpat. Mauris viverra nisl blandit convallis dapibus. Praesent iaculis ligula lectus, ut blandit sem malesuada eu. Fusce blandit augue tortor, ac dapibus orci ultricies vitae. Maecenas eu posuere libero. Nullam at lorem eget lacus consectetur tincidunt non quis quam. Praesent ac dignissim risus. Pellentesque ex felis, ultricies at pellentesque non, fringilla et dolor. Etiam quis enim lobortis, dictum arcu nec, tempor erat.</p>
      </div>
      <div class="d-none d-md-block col-6">
      <img src="https://images.unsplash.com/photo-1507238691740-187a5b1d37b8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=455&q=80" style="height:320px; width:100%; border-radius: 4px;">
      </div>
    </div>

</div>
